{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-destructuring",
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~Components": "./src/shared/Components",
        "~common": "./src/shared/Components/common",
        "~Containers": "./src/shared/Containers",
        "~controllers": "./src/server/controllers",
        "~shared": "./src/shared",
        "~helpers": "./src/shared/helpers",
        "~Pages": "./src/shared/Pages",
        "~AppRouter": "./src/shared/AppRouter",
        "~server": "./src/server",
        "~styles": "./src/styles",
        "~dist": "./dist",
        "~assets": "./assets",
        "~root": "./"
      }
    }]
  ]
}