.TextInput {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 3px;
  border: 1px solid $grey;
  padding: 5px;
  margin: 20px 0;
  overflow: hidden;
  transition: border .3s ease-in-out;
  &--error {
    border: 1px solid $darkred;
  }
  &--success {
    border: 1px solid $darkgreen;
  }
  &__Icon{
    margin:0 10px;
    transition: color .3s ease-in-out;
    &--error {
      color: $darkred;
    }
    &--success {
      color: $darkgreen;
    }
  }
  &__Input{
    flex: 1;
    border:0;
    height: 100%;
    outline: 0;
    font-size: 1rem;
  }
}