.TextInput {
  padding: 10px 0;
  position: relative;
  &--error {
    .TextInput__Container{
      border-bottom: transparent;
      &::before {
        content: '';
        width: 100%;
        border-bottom: 1px solid $red;
      }
    }
  }
  &__Icon{
    margin:0 10px;
    transition: color .3s ease-in-out;
    &--error {
      color: $darkred;
    }
    &--success {
      color: $darkgreen;
    }
  }
  &__subIcon {
    position: absolute;
    right: 0;
    top: 50%;
  }
  &__Container{
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid $grey;
    padding: 5px;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      transition: width .3s ease-in-out;
    }
  }

  &__Input{
    flex: 1;
    border:0;
    height: 100%;
    outline: 0;
    font-size: 1rem;
  }

  &__ErrorMsg{
    position: absolute;
    font-size: 0.5rem;
    padding: 5px 0;
    color: $red;
  }
}