@import '../../../../styles/variables.scss';

.accordionsection {
  width: 80%;
  margin: 0 auto;

  &__header {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background: $blueMedium;
    margin: 1px 0;

    div {
      display: inline-block;
    }
  }

  &__state {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    &--success {
      background: $green;
    }
    &--fail {
      background: $red;
    }
  }
  .card {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background: $blue;

    &__section {
      padding: 10px 0;
      color: $white;
    }

    &__amount {
      font-size: 18px;
      font-weight: bold;
    }

    &__options {
      &--success {
        font-weight: bold;
        color: $green;
      }
      &--fail {
        font-weight: bold;
        color: $red;
      }
    }

    &__participants {
      font-weight: 100;
    }

    hr {
      margin: 0 auto;
      width: 50%;
      color: $white;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .arrow {
    font-size: 20px;
    transition: transform 0.2s ease-in-out;

    &--selected {
      transform: rotate(-90deg)
    }
  }
}
