@import '../../../../styles/variables.scss';

.accordionsection {
  width: 80%;
  margin: 0 auto;

  &__header {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background: $blueMedium;
    margin: 1px 0;

    div {
      display: inline-block;
    }
  }

  &__state {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    &.success {
      background: $green;
    }
    &.fail {
      background: $red;
    }
  }
  .card {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background: $blue;

    div {
      margin: 10px 0;
      color: $white;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }

  .arrow {
    font-size: 20px;
    transition: transform 0.2s ease-in-out;

    &.selected {
      transform: rotate(-90deg)
    }
  }
}
