@import '~src/styles/variables.scss';

.accordionsection {
  width: 80%;
  margin: 0 auto;

  &__header {
    position: relative;
    padding: 10px;
    align-items: center;
    color: $white;
    background: $blueMedium;
    margin: 1px 0;
  }

  &__state {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    &--success {
      background: $green;
    }
    &--fail {
      background: $red;
    }
  }
  
  &__title {
    flex: 1;
  }
  
  &__edit {
    position: absolute;
    left: 10px;
    font-size: 20px;
  }

  .card {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background: $blue;
  }
  
  .arrow {
    position: absolute;
    right: 10px;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    
    &--selected {
      transform: rotate(-90deg)
    }
  }
  
  .fa {
    flex: 1 0 0 10px;
    color:$white;
    cursor: pointer;
  }
}
