@import "variables.scss";

body {
  margin: 0;
  font-family: $fontRegular, sans-serif;
  letter-spacing: 1.5px;
  font-size: 14px;

  .approuter {
    max-width: 1200px;
    margin: 0 auto;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}