@import "variables.scss";

body {
  margin: 0;
  font-family: $fontRegular, sans-serif;
  letter-spacing: 1.5px;
  background: $greenBlue;

  .app-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
