
//Fonts

$fontRegular: "ShadowsIntoLight";
$fontBold: "KrubBold";

// Colors
$greenBlue: #107E7D;
$darkGreeBlue: #0c6564;
$darkGreen: #004e4d;
$yellow: #E3B505;
$white: #ffffff;
$broken: #efefef;
$black: #000000;
$red: #ff0000;
$green: #8bc34a;
$shadow: #3c3b3b;