
//Fonts
$fontRegular: "ShadowsIntoLight";
$fontBold: "KrubBold";

// Colors
$blueDark: #536B78;
$blueMedium: #637081;
$blue: #7C98B3;
$blueLight:#ACCBE1;
$blueMegaLight:#ACCBE1;
$yellow: #E3B505;
$white: #ffffff;
$broken: #efefef;
$black: #000000;
$red: #ff0000;
$green: #8bc34a;
$shadow: #3c3b3b;
$lightgrey: #eaeaea;
$textParagraphSize: 14px;
$grey: #4A4A4A;
