.CheckBox {
  display: flex;

  &__Input {
    display: none;
    & + .CheckBox__Label::after{
      content: none;
    }
    &:checked + .CheckBox__Label::after{
      content: "";
    }
  }
  &__Label{
    position: relative;
    cursor: pointer;
    height: 16px;
    padding: 3px 0 0 30px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid;
      border-radius: 2px;
    }
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 6px;
      width: 9px;
      left: 5px;
      top: 4px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      transform: rotate(-45deg);
    }
  }
}